body {
  font-size: 16px;
  background-color: rgb(51, 50, 50)
}
/*Content*/
.content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

/*Header*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

h1 {

}

header button {
  width: 6rem;
  background-color: white;
  background-image: url('./utility/images/dropdown-icon.png');
  background-size: cover;
}

/*Topics*/

.topics {
  width: 50rem;
  height: 30rem;
  background-color: rgb(192, 187, 187);
  color: rgb(36, 36, 41);
}

.topics h2 {
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  height: 20rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-items: center;
}

.input-group {
  margin: 2.5rem;
}

#submit {
  font-size: 2rem;
}



/*Article previews*/
.preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-preview {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 5px black;
}

.article-preview img {
  width: 70%;
}

/*article-awards*/
.award-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.award-container img {
  width: 1rem;
  height: 1rem;
}

.award {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .125rem;
  height: 1.8rem;
}

.award p {
  margin-left: .07rem;
}

.upVotes {
  background-image: url('./utility/images/arrows.png');
  background-size: cover;
}

/*Article*/


/*Comments*/

.comments-container {
  height: 700px;
  overflow: scroll;
}